.hero {
	font-family: 'Patrick Hand', sans-serif;
}

.hero__title {
	font-size: 52px;
	font-weight: 400;
	letter-spacing: 1px;
}

.hero__description {
	font-size: 22px;
}

@media (max-width: 768px) {
	.hero__title {
		font-size: 40px;
	}

	.hero__description {
		font-size: 18px;
	}
}