.hero {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: end;
  gap: 32px;
  padding-block: 8px 40px;
}

.hero__main {
  max-width: 670px;
}

.hero__main--wide {
  max-width: 100%;
}

.hero__title {
  display: grid;
  gap: 2px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 96px;
  line-height: 1;

  font-weight: 700;
  text-transform: uppercase;

  padding-bottom: 16px;
}

.hero__title-line {
  display: block;
}

.hero__title-line--green {
  color: var(--green-color);
}

.hero__title-line--pink {
  color: var(--pink-color);
}

.hero__description {
  position: relative;

  padding-left: 20px;
  font-size: 18px;

  font-weight: 700;
  text-transform: uppercase;
}

.hero__description--pink {
  color: var(--pink-color);
}

.hero__description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--border-color);
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    align-items: start;
    gap: 20px;
    padding-bottom: 40px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__description {
    font-size: 14px;
  }
}
