.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
}

.list__item {
  display: grid;
  gap: 12px;
}

@media (max-width: 1040px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}
