.layout {
  width: min(100%, var(--layout-width));
  margin: 0 auto;
  padding-inline: 40px;
}

.content {
  padding-block: 32px 60px;
}

@media (max-width: 960px) {
  .layout {
    padding-inline: 20px;
  }

  .content {
    padding-block: 20px 40px;
  }
}

@media (max-width: 768px) {
  .content.content--map {
    padding: 0;
  }
}
