.layout {
	width: min(100%, var(--layout-width));
	margin: 0 auto;
	padding-inline: 20px;
}

.main {
	padding-block: 20px;
}

.main__container {
	display: grid;
	gap: 20px;
	grid-template-columns: 360px 1fr;
	align-items: start;
}

.main__content {
	display: grid;
	gap: 12px;
}

.sidebar {
	position: sticky;
	top: 24px;
}

@media (max-width: 960px) {
	.layout {
		padding-inline: 20px;
	}

	.main__container {
		grid-template-columns: 1fr;
	}
}
