.pagination {
  width: 100%;
  padding-top: 60px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.pagination__button--active {
  background: var(--yellow-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .pagination {
    padding-top: 40px;
  }
}
