.toggle {
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: block;
  }

  .toggle__frame {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-top: 4px solid var(--border-color);
    background: #ffffff;
  }

  .toggle__link {
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 14px;
    min-height: 32px;

    text-transform: uppercase;
  }

  .toggle__link--active {
    background: var(--border-color);
    color: #ffffff;
  }
}
